.education__card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto 30px auto;
    padding: 1.5rem;
    text-align: left;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
}

.education__card:hover {
    transform: translateY(-7px);
  }

h4 {
    /* color: #74808a; */
    font-weight: 500;
}

h3 {
    font-weight: 500;
    /* color: #374054; */
    font-size: 1.4rem;
}

span {
    /* color: #74808a; */
    margin-bottom: .8rem;
}

p {
    /* color: #74808a; */
    font-size: .9em;
}

.logo {
    width: 5rem;
    margin-bottom: .8rem;

}

.logo img {
    width: 100%;
    vertical-align: top;
}